body{
    background-image: url("../styles/assets/img/Bright\ Blue\ Stars\ Galaxy\ Desktop\ Wallpaper\ \(1\).png");
    background-size: cover;
    transition: background-color 0.3s ease-in-out;
     color: antiquewhite;
}
header{
    display: flex;
     align-items:center;
    justify-content: space-between;
    padding: 0px 25px;
    color: antiquewhite;
}   

header img{
    width: 200px;
}

.nav_menu{
display: flex;
gap: 30px;
font-family: "Satoshi", sans-serif;
font-size: 16px;
font-weight: 600;
}
.nav_menu a:hover {
    color:gold;
    transition: color 0.3s ease;
}

a{
    text-decoration: none;
    color: antiquewhite;
}
p{
    font-family: "Satoshi", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 0px 25px;
    text-align: center;
     color: antiquewhite;
} 
.tarjetas h2{
     font-family: "Satoshi", sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 0px 25px;
    text-align: center;
     color: antiquewhite;
}
#contenedor_Peliculas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;
}
h1, h2{
    font-family: "Satoshi", sans-serif;
    font-weight: 800;
    font-size: 35px;
    padding: 0px 25px;
    text-align: center;
     color: antiquewhite;
}
#fotid{
    text-align: left;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.tarjeta{
    font-family: "Satoshi", sans-serif;
    font-size: 10px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;

}
.tarjetas img{
    transition: transform 0.3s ease;
    margin-top: 20px;
    max-width: 100%;
    border-radius: 5px;
}
.tarjetas:hover img{
    transform: scale(.90);
}

/* PAGINAS ESTATICAS */


.seccion_pelisrecientes{
    
display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 6rem;
    gap: 0;
    flex-wrap: wrap;
    margin: 10px;
}

.img_pelisrecientes{
    width:200px;
    height: auto;
}
.titpelisrecientes{
    margin-bottom: 5px;
    font-size: 25px;
    text-align: center;
   
}
.seccion_noticias{
    padding: 2rem;
    gap: 1.5rem;
    margin-top: 60px;
    
}