body{
    background-image: url("/styles/assets/img/Bright\ Blue\ Stars\ Galaxy\ Desktop\ Wallpaper\ \(1\).png");
    background-size: cover;
    transition: background-color 0.3s ease-in-out;
     color: antiquewhite;
}
header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0px 25px;
    color: antiquewhite;
    height: 120px;
}   

header img{
    width: 200px;
    margin-top: 30px;
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1;
}

.nav_menu{
display: flex;
gap: 30px;
font-family: "Satoshi", sans-serif;
font-size: 16px;
font-weight: 600;
}

.nav_menu a:hover {
    color:gold;
    transition: color 0.3s ease;
    text-decoration: none;
}

a{
    color: antiquewhite;
    text-decoration: none;
}
p{
    font-family: "Satoshi", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 0px 25px;
    text-align: center;
     color: antiquewhite;
} 

.tarjetas h2{
    font-family: "Satoshi", sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 0px 25px;
    text-align: center;
     color: antiquewhite;
}

#contenedor_Peliculas{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
    align-items: start;
    gap: 1rem;
    padding: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2{
    font-family: "Satoshi", sans-serif;
    font-weight: 800;
    font-size: 35px;
    padding: 0px 25px;
    text-align: center;
     color: antiquewhite;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
}

.tarjeta{
    font-family: "Satoshi", sans-serif;
    font-size: 10px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin: auto;
    text-align: center;
}

.tarjetas img{
    width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: 5px;
    transition: transform 0.3s ease;
    margin-top: 20px;
}

.tarjetas:hover img{
    transform: scale(.90);
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 3rem;
    gap: 10px;
    width: 500px;
    margin: 1rem auto 0 auto;
}

.inputsDuration{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: auto;
}

.inputsDuration input{
    width: 100px;
    padding: 8px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    }

#submit,#reset{
    background-color: black;
    color:  antiquewhite;
     width: 500px;
}  

#submit:hover,
#reset:hover{    
    color:gold;
    transition: color 0.3s ease;
    text-decoration: none;
}

